@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');


body{
    background-image: url(../assets/background.jpeg);
    background-size:cover;
    font-family: 'Cute Font', cursive;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}