.wrapper{   
     display: flex;
    width: 80%;
    padding: 2rem;
    flex-wrap: wrap;
    gap: 2rem;

}

.card-wrapper{
    height: 30%;
    width: 15%;
    border-radius: 8px;
    background: #313530;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.card{
    height: 210px;
    width: 210px;
    cursor: pointer;
    border-radius: 8px;

}

/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .wrapper{
        margin-top: 5%;
        width: 100%;
        padding: 2rem;
        flex-wrap: wrap;
        gap: 2rem;
        display: flex;
    }
    .card{
        height: 210px;
        width: 210px;
        cursor: pointer;
        border-radius: 8px;
    }
    .card-wrapper{
        height: 300px;
        width: 250;
        border-radius: 8px;
        background: #313530;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
} */