.rules{
    display: flex;
    flex-direction: column;
    height: 8rem;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: rgba(2, 0, 0, 0.253);
    font-size: 30px;
    color: whitesmoke;
    align-content: center;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .header{
        display: flex;
        flex-direction: column;
        height: 8rem;
        margin-top: 3rem;
        border-radius: 15px;
        background-color: rgba(2, 0, 0, 0.253);
        text-align: center;
        font-size: 2rem;
        color: whitesmoke;
        justify-self: center;
        word-wrap: normal
    }

    .rules{
        display: flex;
        flex-direction: column;
        height: 8rem;
        margin-top: 3rem;
        border-radius: 15px;
        background-color: rgba(2, 0, 0, 0.253);
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: whitesmoke;
    }
}